<settings>
    <setting propertyKey="@Properties.waterType" title="@Strings.WaterTypeTitle" prompt="@Strings.WaterTypePrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WaterFresh</listEntry>
            <listEntry value="1">@Strings.WaterSalt</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.unitOverride" title="@Strings.UnitsTitle" prompt="@Strings.UnitsPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.UnitsAuto</listEntry>
            <listEntry value="1">@Strings.UnitsMetric</listEntry>
            <listEntry value="2">@Strings.UnitsStatute</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.rezero" title="@Strings.RezeroTitle" prompt="@Strings.RezeroPrompt">
        <settingConfig type="boolean" />
    </setting>
    <setting propertyKey="@Properties.diveThreshold" title="@Strings.DiveThresholdTitle" prompt="@Strings.DiveThresholdPrompt">
        <settingConfig type="list">
            <listEntry value="50">@Strings.DiveThreshold05</listEntry>
            <listEntry value="100">@Strings.DiveThreshold10</listEntry>
            <listEntry value="150">@Strings.DiveThreshold15</listEntry>
            <listEntry value="200">@Strings.DiveThreshold20</listEntry>
            <listEntry value="300">@Strings.DiveThreshold30</listEntry>
        </settingConfig>
    </setting>
</settings>
